In [35]:
print(}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (2354667705.py, line 1)

In [ ]:
print('''')

SyntaxError: EOF while scanning triple-quoted string literal (878951140.py, line 1)

In [ ]:
print(''''''')

SyntaxError: EOL while scanning string literal (3573519479.py, line 1)

In [ ]:
print('''"''')

"

In [ ]:
# pep 8
# buna comment satiri diyoruz!! 
# bir satirda max 79 karakter bulunur.
# age = 32 boytle yazilir boslukla yani clean cod
# sayilari kullanacaksan degiskenlerde ozaman _ cizgi kullanilir. 
# kullandigimiz kisaltmalar anlasilir olmali.
#

In [ ]:
pi_num = 3,14
print(type(pi_num))

<class 'tuple'>

In [ ]:
print(type("3" + "6"))

<class 'str'>

In [89]:
my_age = 32
your_age = 50
your_age = my_age

In [ ]:
your_age

32

In [ ]:
jan, march, may, jul, august, october, dec = 31, 31, 31, 31, 31, 31, 31
feb = 28
apr, jun, sep, nov = 30, 30, 30, 30
print(jan, feb, march, apr, may, jun, jul, august, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 <built-in function oct> 30 31

In [ ]:
jan = march = may = jul = august = oct=  dec = 31
feb = 28
apr = jun = sep = nov = 30
print(jan, feb, march, apr, may, jun, jul, august, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

# Type Conversion

### Al types to str

In [ ]:
age = 30

In [ ]:
print(age)

30

In [ ]:
type(age)

int

In [ ]:
converted_age = str(age)

In [ ]:
converted_age

'30'

In [ ]:
type(converted_age)

str

In [ ]:
pi_num = 3.14

In [ ]:
type(pi_num)

float

In [ ]:
converted_pi_num = str(pi_num)

In [ ]:
converted_pi_num

'3.14'

In [ ]:
type(converted_pi_num)

str

In [ ]:
x = False

In [ ]:
type(x)

bool

In [ ]:
converted_x = str(x)

In [ ]:
type(converted_x)

str

In [ ]:
converted_x

'False'

### Input() functie

In [ ]:
# input( ) bizden herzaman str ister!!!

In [90]:
your_age = input("geef je leeftij")

In [91]:
your_age

'46'

In [38]:
type(your_age)

str

In [39]:
your_job = input("enter your job")

In [40]:
your_job

'data science '

### float to int

In [41]:
pi_num = 3.14

In [42]:
int(pi_num)

3

In [43]:
int(3.67)

3

In [44]:
z = 5.9
z = int(z) # int kullaninca noktadan sonrasini atar!!! 
z

5

In [45]:
type(z)

int

In [92]:
y = 34.89
y = int(y)

In [93]:
type(y)

int

In [94]:
y

34

In [46]:
pi = 3.14
pi = int(pi)
type(pi)

int

## Int to float

In [47]:
float(3)

3.0

## str() to float

In [48]:
age = "on sekkiz"

In [49]:
float(age)

ValueError: could not convert string to float: 'on sekkiz'

In [50]:
pi_num = "3.14"

In [51]:
float(pi_num)

3.14

In [52]:
float("3.1")

3.1

In [53]:
float("3.1a")

ValueError: could not convert string to float: '3.1a'

In [54]:
int("6")

6

In [55]:
int("6.0")

ValueError: invalid literal for int() with base 10: '6.0'

In [56]:
int("6,0")

ValueError: invalid literal for int() with base 10: '6,0'

In [57]:
age = input("enter your age:")

In [58]:
job = input("ënter your job:")

In [95]:
age 
job

'data science'

In [96]:
print(age , job)

45 data science

In [59]:
print(age)
print(job)

45
data science

In [60]:
print(type(age))
print(type(job))

<class 'str'>
<class 'str'>

In [61]:
2013 - age

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [63]:
2023 - int(age)

1978

In [64]:
age_2 = int(input("enter your age"))

In [65]:
age_2

45

In [98]:
age_3 = int(input("enter your age")) ### rakamla yazdir yoksa hata verir!!!

In [99]:
age_3

78

In [69]:
str(false)

NameError: name 'false' is not defined

In [70]:
str("false")

'false'

In [71]:
str(False)

'False'

In [72]:
int(False)

0

In [73]:
int(True)

1

In [74]:
float(True)

1.0

In [75]:
float(False)

0.0

In [76]:
x = 5.6
int(x)
print(type(x))

<class 'float'>

In [77]:
x = 5.6
x = int(x)
print(type(x))

<class 'int'>

In [100]:
type(int(float(5.0)))

int

In [101]:
x = 8
x %= 6
print(x)

2

In [84]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [79]:
print( x - int(y))

10

In [80]:
print(x- float(z))

22.5

In [81]:
print(z + str(x)) # "2.5" + "25" = "2.525"

2.525

In [104]:
print(w + str(y))

I'm at_34

In [82]:
type((z + str(x)))

str

In [85]:
print(w + str(x))

I'm at_25

In [88]:
x = 16
x %= 6
print(x)

4