In [ ]:
{}
dict()
{}.fromkeys()

In [1]:
dict_1 = {"key1" : "value1", "key2" : "value2", "key3" : "value3"}
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [2]:
dict_1.items

In [3]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [6]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [5]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [7]:
dict_1[0] ## sayilarla indexlenmez. ama keyslerle wel

KeyError: 0

In [10]:
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [12]:
dict_1["key1"]

'value1'

In [13]:
dict_2 = {1 : "one", 2 : "two", 3 : "three"} # aan keys integer waarde kun je geven
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [14]:
dict_3 = {False : 0, True : 1}
dict_3

{False: 0, True: 1}

In [15]:
dict_4 = {[1,2,3]:"liste"} ## listelerden, dicinary den key olusturamiyoruz
dict_4

TypeError: unhashable type: 'list'

In [16]:
dict_5 = {1 : "one", "bir" : "one", False : 0} # birbirinden farkli data type olabilir icinde
dict_5

{1: 'one', 'bir': 'one', False: 0}

In [17]:
dict_6 = {3.14 : "pi", 5.68 : "float"} # integer, string, float dan key olusturabiliyoruz
dict_6

{3.14: 'pi', 5.68: 'float'}

In [18]:
dict_7 = {{"key":1}: "values"}

TypeError: unhashable type: 'dict'

In [20]:
dict_8 = {(1,2,3) : "tuple"}
dict_8

{(1, 2, 3): 'tuple'}

In [21]:
dict_8.keys()

dict_keys([(1, 2, 3)])

# values olusturmak

In [23]:
dict_9 = {"names": ["Eyup", "Ahmad", "sukru"], "ages": (21,23,33)}
dict_9

{'names': ['Eyup', 'Ahmad', 'sukru'], 'ages': (21, 23, 33)}

In [25]:
dict(one = 1, two =2, three = 3)

{'one': 1, 'two': 2, 'three': 3}

In [26]:
dict(4 = "four", 5 = "five") # dict () functide integer lari key olarak atayamiyoruz! 
dict

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3243202736.py, line 1)

In [27]:
{2 :"iki", 3: "uc"}

{2: 'iki', 3: 'uc'}

In [28]:
type({2: 'iki', 3: 'uc'})

dict

bir de pop kullanirken icine key degerini yazmamiz lazim value degerini yazamayiz yazarsak error verir

In [34]:
nurullah = dict(pen = 1, tafel =2, stoel= 3)
nurullah

{'pen': 1, 'tafel': 2, 'stoel': 3}

In [35]:
nurullah.items()

dict_items([('pen', 1), ('tafel', 2), ('stoel', 3)])

In [37]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [39]:
dict_2[2]

'two'

In [40]:
dict_2["3"]

KeyError: '3'

In [41]:
dict_9

{'names': ['Eyup', 'Ahmad', 'sukru'], 'ages': (21, 23, 33)}

In [142]:
dict_9.items()

dict_items([('names', ['Eyup', 'Ahmad', 'sukru', 'Anil']), ('ages', (21, 23, 33))])

In [42]:
dict_9["names"]

['Eyup', 'Ahmad', 'sukru']

In [43]:
dict_9["ages"]

(21, 23, 33)

In [50]:
dict_9["names"].append("Anil")
dict_9

{'names': ['Eyup', 'Ahmad', 'sukru', 'Anil'], 'ages': (21, 23, 33)}

In [49]:
dict_9["names"].remove("Anil")
dict_9

{'names': ['Eyup', 'Ahmad', 'sukru'], 'ages': (21, 23, 33)}

In [51]:
dict_9

{'names': ['Eyup', 'Ahmad', 'sukru', 'Anil'], 'ages': (21, 23, 33)}

In [54]:
dict_friends = {"friend1": "Ahmet", "friend2": "Gul", "friend3": "Hayat"}

In [55]:
dict_friends["friend4"] = "Rovshan"
dict_friends

{'friend1': 'Ahmet',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan'}

In [57]:
dict_friends["friend1"] = "Serdar" # icinde olmayan key yazinca onu ekliyor. ama olan bir key yazarsan sadece value degistirir. 
dict_friends

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan'}

In [61]:
dict_friends["friend5"] = ("Rovshan","Guler")
dict_friends

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler')}

In [62]:
len({'friend1': 'Serdar',
 'friend2': 'Gul',                 # len sayisi items miktari ile ayni olur dict de. 
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler')})

5

In [83]:
dict_friends["friend7"] = ("Hans",)
dict_friends

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler'),
 'friend6': 'Tulin',
 'Friend6': 'Tulin',
 'friend7': ('Hans',)}

In [65]:
dict_friends["Friend6"] = ("Tulin")
dict_friends

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler'),
 'friend6': 'Tulin',
 'Friend6': 'Tulin'}

In [66]:
dict_friends.items()

dict_items([('friend1', 'Serdar'), ('friend2', 'Gul'), ('friend3', 'Hayat'), ('friend4', 'Rovshan'), ('friend5', ('Rovshan', 'Guler')), ('friend6', 'Tulin'), ('Friend6', 'Tulin')])

In [67]:
dict_friends.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [68]:
list(dict_friends.items())

[('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin')]

In [70]:
list(dict_friends.items())[5] # listeye cevirip oyle indexliyoruz.

('friend6', 'Tulin')

In [71]:
list(dict_friends.items())[0][1]

'Serdar'

In [85]:
aa = list(dict_friends.items())
aa.append(("tafel", 3))
aa

[('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin'),
 ('friend7', ('Hans',)),
 ('tafel', 3)]

In [75]:
dict_friends

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler'),
 'friend6': 'Tulin',
 'Friend6': 'Tulin'}

In [86]:
dict(aa)

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler'),
 'friend6': 'Tulin',
 'Friend6': 'Tulin',
 'friend7': ('Hans',),
 'tafel': 3}

In [90]:
aa.append("hafiz")
aa

[('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin'),
 ('friend7', ('Hans',)),
 ('tafel', 3),
 'hahiz',
 'hahiz',
 'hafiz']

In [92]:
aa.remove("hahiz")
aa

[('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin'),
 ('friend7', ('Hans',)),
 ('tafel', 3),
 'hafiz']

In [93]:
aa.pop()

'hafiz'

In [95]:
aa.append(('friend4', 'Rovshan'))
aa

[('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin'),
 ('friend7', ('Hans',)),
 ('tafel', 3),
 ('friend4', 'Rovshan'),
 ('friend4', 'Rovshan')]

In [96]:
dict(aa)

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler'),
 'friend6': 'Tulin',
 'Friend6': 'Tulin',
 'friend7': ('Hans',),
 'tafel': 3}

In [109]:
bb = [('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin'),
 ('friend7', ('Hans',)),
 ('tafel', 3),
 ('friend4', 'Rovshan'),
 ('friend4', 'Rovshan'),
 ('friend6', 'Filiz')]

In [110]:
bb

[('friend1', 'Serdar'),
 ('friend2', 'Gul'),
 ('friend3', 'Hayat'),
 ('friend4', 'Rovshan'),
 ('friend5', ('Rovshan', 'Guler')),
 ('friend6', 'Tulin'),
 ('Friend6', 'Tulin'),
 ('friend7', ('Hans',)),
 ('tafel', 3),
 ('friend4', 'Rovshan'),
 ('friend4', 'Rovshan'),
 ('friend6', 'Filiz')]

In [111]:
dict(bb)

{'friend1': 'Serdar',
 'friend2': 'Gul',
 'friend3': 'Hayat',
 'friend4': 'Rovshan',
 'friend5': ('Rovshan', 'Guler'),
 'friend6': 'Filiz',
 'Friend6': 'Tulin',
 'friend7': ('Hans',),
 'tafel': 3}

In [112]:
sayilar = {"tek sayilar": [], "cift sayilar": []}

In [113]:
sayilar

{'tek sayilar': [], 'cift sayilar': []}

In [114]:
sayilar["tek sayilar"]

[]

In [115]:
sayilar["tek sayilar"].append(1)

In [116]:
sayilar

{'tek sayilar': [1], 'cift sayilar': []}

In [117]:
sayilar["tek sayilar"].extend([1,3,7,9])

In [118]:
sayilar

{'tek sayilar': [1, 1, 3, 7, 9], 'cift sayilar': []}

In [120]:
list(range(0,40,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [126]:
sayilar["cift sayilar"].extend(range(0,20,2))

In [127]:
print(sayilar)

{'tek sayilar': [1, 1, 3, 7, 9], 'cift sayilar': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]}

In [136]:
{}.fromkeys("Hello",[1,2,3,])

{'H': [1, 2, 3], 'e': [1, 2, 3], 'l': [1, 2, 3], 'o': [1, 2, 3]}

# Opdate()

In [132]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [133]:
dict_2.update({4: "four"})

In [134]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [139]:
dict_2.update({5 :"five", 6:"six"}) # append le 1 eleman eklerken update extend gibi birden fazla elemeni ekleyebilirsin.

In [140]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [143]:
list(dict_2.items())

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [147]:
dict_2[7] = "seven"

In [148]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven'}

In [149]:
dict_2.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six'), (7, 'seven')])

In [151]:
dict_2.pop(4) # icerisine key yazilmassa hata verir.

'four'

In [152]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 5: 'five', 6: 'six', 7: 'seven'}

In [153]:
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [154]:
dict_1.get("key2")

'value2'

In [155]:
dict_1["key2"]

'value2'

In [156]:
del dict_1["key2"]

In [157]:
dict_1

{'key1': 'value1', 'key3': 'value3'}

In [158]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [159]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [160]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}

In [161]:
myfamily["child1"]["name"]

'Emil'

In [163]:
myfamily["child1"].items()

dict_items([('name', 'Emil'), ('year', 2004)])

In [164]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [165]:
myfamily.items()

dict_items([('child1', {'name': 'Emil', 'year': 2004}), ('child2', {'name': 'Tobias', 'year': 2007}), ('child3', {'name': 'Linus', 'year': 2011})])

In [166]:
myfamily["child2"]["name"]

'Tobias'

In [167]:
myfamily["child2"]["name"][3]

'i'

# in , not in

In [168]:
"e" in "hello"

True

In [169]:
"e" not in "hello"

False

In [175]:
dict1 = {"key3": 5}

In [176]:
"key3" in dict1

True

In [177]:
5 in dict1

False

In [178]:
5 in dict1.values()

True

In [183]:
ogrenciler = []
emrah = {"ad": "Emrah", "soyad": "Yılmaz", "notlar": [40, 60, 50, 80]}
ipek = {"ad": "İpek", "soyad": "Özkan", "notlar": [100, 80, 90, 75]}
inci = {"ad": "İnci", "soyad": "Karahan", "notlar": [90, 90, 80, 60]}

ogrenciler.append(emrah)
ogrenciler.append(ipek)
ogrenciler.append(inci)
ogrenciler

[{'ad': 'Emrah', 'soyad': 'Yılmaz', 'notlar': [40, 60, 50, 80]},
 {'ad': 'İpek', 'soyad': 'Özkan', 'notlar': [100, 80, 90, 75]},
 {'ad': 'İnci', 'soyad': 'Karahan', 'notlar': [90, 90, 80, 60]}]

In [185]:
len(ogrenciler)

3

In [191]:
notlar= ogrenci["notlar"]
notlar[1]

90

In [180]:
for ogrenci in ogrenciler:
    notlar = ogrenci["notlar"]
    vize_notu = notlar[0]
    final_notu = notlar[1]
    # Vize notunun %40'ı, final notunun %60'ı alınarak dönem sonu notu hesaplanır.
    donem_sonu_notu = vize_notu * 0.4 + final_notu * 0.6
    ogrenci["donem_sonu_notu"] = donem_sonu_notu

In [192]:
for ogrenci in ogrenciler:
    notlar = ogrenci["notlar"]
    yil_sonu_notu = (notlar[0] + notlar[1]) / 2
    ogrenci["yil_sonu_notu"] = yil_sonu_notu

# Öğrencileri yıl sonu notlarına göre sıralayalım
ogrenciler.sort(key=lambda x: x["yil_sonu_notu"], reverse=True)

# En iyi 3 öğrenciyi yazdıralım
print("Okul Birincisi:", ogrenciler[0]["ad"], ogrenciler[0]["soyad"])
print("Okul İkincisi:", ogrenciler[1]["ad"], ogrenciler[1]["soyad"])
print("Okul Üçüncüsü:", ogrenciler[2]["ad"], ogrenciler[2]["soyad"])

Okul Birincisi: İpek Özkan
Okul İkincisi: İnci Karahan
Okul Üçüncüsü: Emrah Yılmaz