In [7]:
def tek_sayılar(a,b,c,d,e):
    """Bu fonksiyon girilen sayılar içerindeki tek sayıları döndürür."""

    tekler_listesi = []
    for i in a,b,c,d,e:
        if i % 2 == 1:
            tekler_listesi.append(i)
    return tekler_listesi

In [2]:
tek_sayılar(1,5,4,8,9)

[1, 5, 9]

In [3]:
tek_sayılar(1,2,3,4,5,6)

TypeError: tek_sayılar() takes 5 positional arguments but 6 were given

In [4]:
tek_sayılar(1,2,3,4)

TypeError: tek_sayılar() missing 1 required positional argument: 'e'

## Arbitrary Number of Arguments (*args, **kwargs)

In [1]:
def tek_sayılar1(* sayılar):
    """Bu fonksiyon girilen sayılar içerindeki tek sayıları döndürür."""

    tekler_listesi = []
    for i in sayılar:
        if i % 2 == 1:
            tekler_listesi.append(i)
    return tekler_listesi

In [2]:
tek_sayılar1(1,5,4,7,8,9,6,5,8,4,12,35,68,47)

[1, 5, 7, 9, 5, 35, 47]

In [9]:
tek_sayılar1()

[]

In [10]:
tek_sayılar1(2,8,6,4,10)

[]

In [11]:
tek_sayılar1(1,5)

[1, 5]

In [12]:
print(* "hello")

h e l l o

In [16]:
def ters_yazdır(* kelimeler):
    liste = []
    liste.append(kelimeler[::-1])
    return liste

In [18]:
ters_yazdır("murat")

[('murat',)]

In [19]:
ters_yazdır("murat", "sedat")

[('sedat', 'murat')]

In [20]:
ters_yazdır("murat", "sedat","adem")

[('adem', 'sedat', 'murat')]

In [17]:
ters_yazdır("murat", "sedat","adem","ismet")

[('ismet', 'adem', 'sedat', 'murat')]

In [10]:
def ürün_stoğu(** kwargs):
    for i,j in kwargs.items():
        print(f"ürün: {i}, sayısı: {j}")

In [22]:
ürün_stoğu(apple = 3, orange = 5, cherry = 10)

ürün: apple, sayısı: 3
ürün: orange, sayısı: 5
ürün: cherry, sayısı: 10

In [23]:
ürün_stoğu(apple = 3, orange = 5)

ürün: apple, sayısı: 3
ürün: orange, sayısı: 5

In [24]:
ürün_stoğu(apple,orange,banana)

NameError: name 'apple' is not defined

In [31]:
ürün_stoğu( "apple", "orange", "banana")

TypeError: ürün_stoğu() takes 0 positional arguments but 3 were given

In [12]:
ürün_stoğu(** ("apple","orange","banana"))

TypeError: __main__.ürün_stoğu() argument after ** must be a mapping, not tuple

In [5]:
dict_1 = {"Emrah": 30,"İsmet": 28, "Türkan": 27}

In [4]:
def personel_yaşı(** kwargs):
    for i,j in kwargs.items():
        print(f"isim: {i}, yaş: {j}")

In [6]:
personel_yaşı(dict_1)

TypeError: personel_yaşı() takes 0 positional arguments but 1 was given

In [28]:
personel_yaşı(** dict_1) # ** yazmayi unutma!!

isim: Emrah, yaş: 30
isim: İsmet, yaş: 28
isim: Türkan, yaş: 27

In [8]:
personel_yaşı(**{"Emrah": 30,"İsmet": 28, "Türkan": 27})

isim: Emrah, yaş: 30
isim: İsmet, yaş: 28
isim: Türkan, yaş: 27

## filter()

In [34]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [35]:
filter(None,"hello")

In [36]:
list(filter(None,"hello"))

['h', 'e', 'l', 'l', 'o']

In [ ]:
[0,1,2,3,4,5,"","techpro",[],False,True]

In [37]:
list(filter(None,[0,1,2,3,4,5,"","techpro",[],False,True]))

[1, 2, 3, 4, 5, 'techpro', True]

In [15]:
def tek_sayılar2(x):
    if x % 2:
        return True
    else:
        return False

In [16]:
tek_sayılar2(2)

False

In [17]:
tek_sayılar2(3)

True

In [18]:
filter(tek_sayılar2,[1,2,3,4,5,6,7,8,9])

In [19]:
list(filter(tek_sayılar2,[1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [20]:
list(filter(tek_sayılar2,[1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [21]:
print(filter(tek_sayılar2,[1,2,3,4,5,6,7,8,9]))

<filter object at 0x000001ECC974DDB0>

In [22]:
def len_1(y):
    if len(y) == 5:
        return True
    else:
        return False

In [59]:
len_1("sedat")

True

In [60]:
len_1("berk")

False

In [61]:
filter(len_1, ["sedat", "berk", "halil", "filiz","gazi","oğuz"])

In [62]:
tuple(filter(len_1, ["sedat", "berk", "halil", "filiz","gazi","oğuz"]))

('sedat', 'halil', 'filiz')

In [52]:
tuple(filter(None, ["sedat", "berk", "halil", "filiz","gazi","oğuz"]))

('sedat', 'berk', 'halil', 'filiz', 'gazi', 'oğuz')

# Lambda ile fonksiyon oluşturma

In [63]:
def sayının_karesi(x):
    return x ** 2

In [64]:
sayının_karesi(5)

25

In [65]:
lambda x: x ** 2

In [27]:
(lambda x: x ** 2)(5)

25

In [26]:
(lambda x: x % 3 )(46)

1

In [67]:
def mean(x,y):
    return (x + y) / 2

In [68]:
mean(15, 25)

20.0

In [70]:
lambda x, y: (x + y) / 2

In [69]:
(lambda x, y: (x + y) / 2)(48,24)

36.0

In [71]:
ortalama = lambda x, y: (x + y) / 2

In [72]:
ortalama(5.6,8.4)

7.0

In [ ]:
("techpro")

In [ ]:
"orphcet"

In [73]:
lambda str_: str_[::-1]

In [76]:
(lambda x: x[::-1])("techpro")

'orphcet'

In [77]:
(lambda x: x[::-1])("techpro","sedat")

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [3]:
%pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     --------------------------------------- 10.3/10.3 MB 18.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\filiz\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 30.6 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     --------------------------------------- 14.8/14.8 MB 25.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\filiz\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

  WARNING: The script f2py.exe is installed in 'c:\Users\filiz\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [ ]:
df = pd.read_csv("adult_eda.csv")

In [80]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [82]:
df.sex = df.sex.apply(lambda x: 0 if x == "Male" else 1)

In [83]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,0,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,<=50K

## map()

In [85]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [14]:
kareler = lambda x: x ** 2

In [87]:
kareler(8)

64

In [8]:
map((lambda x: x**2), [1,2,3,4,5,6,7,8,9])

In [89]:
list(map(kareler, [1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
def map1(* args):
    liste = []
    for i in args:
        liste.append(kareler(i))
    return liste

In [16]:
map1(1,2,3,4,5,6,7,8,9)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### faktöriyel soru çözümü

In [ ]:
5! >>> 5 * 4 * 3 * 2 * 1
3! >>> 3 * 2 * 1

In [35]:
# while

def fact_while(x):

    çarpım_değeri = 1
    while x > 0:
        çarpım_değeri *= x
        x -= 1

    return çarpım_değeri

In [29]:
fact_while(0)

1

In [21]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [33]:
# for

def fact_for(x):

    çarpım_değeri = 1
    for i in range(x,0,-1):
        çarpım_değeri *= i
    return çarpım_değeri

In [28]:
fact_for(0)

1

## recursive function

In [31]:
def fact_recursive(x):

    if x == 0 or x == 1:
        return 1

    return x * fact_recursive(x - 1)

In [7]:
fact_recursive(4)

24

In [40]:
fact_for(10)

3628800

In [42]:
fact_while(10)

3628800

In [43]:
fact_recursive(10) # 1000 den büyük sayı denemeyin

3628800

In [7]:
x = 5 # global

def aa():
    x = 10 # local
    print(x)

aa()
print(x)

10
5

In [8]:
x = 5 # global

def aa():
    print(x) # fonk içindeki x değeri globaldir

aa()
print(x)

5
5